<!-- Single Item -->
<div class="blg_grid_box" *ngIf="promo">
    <div class="blg_grid_thumb">
        <a href="blog-detail.html"><img [src]="promo.coverPicture" class="img-fluid" style="width:350px; height:250px" alt=""></a>
    </div>
    <div class="blg_grid_caption">
        <!-- <div class="blg_tag"><span>{{category.name=='' ? 'oussema':category.name}}</span></div> -->
        <div class="blg_title">
            <h4><a href="blog-detail.html">{{promo.promoName}}</a></h4>
        </div>
        <div class="blg_desc">
            <p>{{promo.fullAddress}}</p>
        </div>
    </div>
    <div class="crs_grid_foot">
        <div class="crs_flex d-flex align-items-center justify-content-between br-top px-3 py-2">
            <div class="crs_fl_first">
                <div class="crs_tutor">
                    <div class="crs_tutor_thumb"><a href="instructor-detail.html"><img
                                src="https://via.placeholder.com/500x500" class="img-fluid circle" width="35"
                                alt=""></a></div>
                </div>
            </div>
            <div class="crs_fl_last">
                <div class="foot_list_info">
                    <ul>
                        <li>
                            <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                            <div class="elsio_tx"><del>{{promo.regularPrice}}Dt</del></div>
                        <li>
                            <div class="elsio_ic"><i class="fa fa-check text-success"></i></div>
                            <div class="elsio_tx">{{promo.price}}Dt</div>
                        </li>
                        <li>
                            <div class="elsio_ic"><i class="fa fa-clock text-warning"></i></div>
                            <div class="elsio_tx">{{promo.createdDate | date}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>