<!-- Single Item -->
<div class="blg_grid_box" *ngIf="promo" style="height:400px">
    <div class="blg_grid_thumb">
        <a [routerLink]="['/promo',promo.id]"><img [src]="promo.coverPicture" class="img-fluid"
                style="height:250px" alt="{{promo.promoName}}"></a>
    </div>
    <div class="blg_grid_caption">
        <!-- <div class="blg_tag"><span>{{category.name=='' ? 'oussema':category.name}}</span></div> -->
        <div class="blg_title">
            <h4><a [routerLink]="['/promo',promo.id]" >{{promo.promoName}}</a></h4>
        </div>
        <div class="blg_desc">
            <p>{{promo.fullAddress}}</p>
        </div>
    </div>
    <div class="crs_grid_foot">
        <div class="crs_flex d-flex align-items-center justify-content-between br-top px-3 py-2">

            <div class="crs_fl_last">
                <div class="foot_list_info">
                    <ul>
                        <li>
                            <div class="elsio_tx"><del>{{promo.regularPrice}}Dt</del></div>
                        <li>
                            <div class="elsio_tx">{{promo.price}}Dt</div>
                        </li>
                        <li>
                            <div class="elsio_ic"><i class="fa fa-clock text-warning"></i></div>
                            <div class="elsio_tx">{{promo.createdDate | date}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>