<div class="home-banner margin-bottom-0 intro-bg">
    <div class="container">
        
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                <div class="banner_caption text-left mb-4">
                    <div class="d-block mb-2"><span class="px-3 py-1 medium theme-bg-light theme-cl rounded">Les meuileurs services</span></div>
                    <h1 class="banner_title ft-bold mb-1">Le service qu'il vous faut,<br>en une minute chrono!</h1>
                    <p class="fs-md ft-regular">Retrouvez plus de 20.000 prestataires de service</p>
                </div>
                <form class="bg-white rounded p-1">
                    <div class="row no-gutters">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                            <div class="form-group mb-0 position-relative">
                                <input type="text" class="form-control lg left-ico" placeholder="Rechercher sur Ijeni" />
                                <i class="bnc-ico lni lni-search-alt"></i>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="form-group mb-0 position-relative">
                                <select class="custom-select lg b-0">
                                  <option value="1">Choisir une catégorie</option>
                                  <option value="2">Information Technology</option>
                                  <option value="3">Cloud Computing</option>
                                  <option value="4">Engineering Services</option>
                                  <option value="5">Healthcare/Pharma</option>
                                  <option value="6">Telecom/ Internet</option>
                                  <option value="7">Finance/Insurance</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 col-12">
                            <div class="form-group mb-0 position-relative">
                                <button class="btn full-width custom-height-lg theme-bg text-white fs-md" type="button">Yalla</button>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="bnr_thumb position-relative">
                    <img src="assets/img/bn-2.png" class="img-fluid bnr_img" alt="" />
                    <div class="list_crs_img">
                        <img src="assets/img/img-1.png" class="img-fluid elsio cirl animate-fl-y" alt="">
                        <img src="assets/img/img-3.png" class="img-fluid elsio arrow animate-fl-x" alt="">
                        <img src="assets/img/img-2.png" class="img-fluid elsio moon animate-fl-x" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================= Home Banner ======================== -->

<!-- ================================ Tag Award ================================ -->
<section class="p-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="crp_box fl_color ovr_top">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 de"><i class="fa fa-journal-whills"></i></div>
                                <div class="dro_142">
                                    <h6>21 0000</h6>
                                    <p>Plus de 21 prestata res de service partout en Tunisie</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 de"><i class="fa fa-business-time"></i></div>
                                <div class="dro_142">
                                    <h6>73 000 Clients</h6>
                                    <p>Plus de 73000 heureux partout en Tunisie</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 de"><i class="fa fa-user-shield"></i></div>
                                <div class="dro_142">
                                    <h6>43 000 services livré</h6>
                                    <p>Services livré a nos cliens en toute simplicité</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>

<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>All Categories</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p>
				</div>
				<div class="row">
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-laptop icon-bg-1"></i>
								<h4>Electronics</h4>
							</div>
							<ul class="category-list">
								<li><a href="category.html">Laptops <span>93</span></a></li>
								<li><a href="category.html">Iphone <span>233</span></a></li>
								<li><a href="category.html">Microsoft <span>183</span></a></li>
								<li><a href="category.html">Monitors <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-apple icon-bg-2"></i>
								<h4>Restaurants</h4>
							</div>
							<ul class="category-list">
								<li><a href="category.html">Cafe <span>393</span></a></li>
								<li><a href="category.html">Fast food <span>23</span></a></li>
								<li><a href="category.html">Restaurants <span>13</span></a></li>
								<li><a href="category.html">Food Track<span>43</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-home icon-bg-3"></i>
								<h4>Real Estate</h4>
							</div>
							<ul class="category-list">
								<li><a href="category.html">Farms <span>93</span></a></li>
								<li><a href="category.html">Gym <span>23</span></a></li>
								<li><a href="category.html">Hospitals <span>83</span></a></li>
								<li><a href="category.html">Parolurs <span>33</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-shopping-basket icon-bg-4"></i>
								<h4>Shoppings</h4>
							</div>
							<ul class="category-list">
								<li><a href="category.html">Mens Wears <span>53</span></a></li>
								<li><a href="category.html">Accessories <span>212</span></a></li>
								<li><a href="category.html">Kids Wears <span>133</span></a></li>
								<li><a href="category.html">It & Software <span>143</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-briefcase icon-bg-5"></i>
								<h4>Jobs</h4>
							</div>
							<ul class="category-list">
								<li><a href="category.html">It Jobs <span>93</span></a></li>
								<li><a href="category.html">Cleaning & Washing <span>233</span></a></li>
								<li><a href="category.html">Management <span>183</span></a></li>
								<li><a href="category.html">Voluntary Works <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-car icon-bg-6"></i>
								<h4>Vehicles</h4>
							</div>
							<ul class="category-list">
								<li><a href="category.html">Bus <span>193</span></a></li>
								<li><a href="category.html">Cars <span>23</span></a></li>
								<li><a href="category.html">Motobike <span>33</span></a></li>
								<li><a href="category.html">Rent a car <span>73</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-paw icon-bg-7"></i>
								<h4>Pets</h4>
							</div>
							<ul class="category-list">
								<li><a href="category.html">Cats <span>65</span></a></li>
								<li><a href="category.html">Dogs <span>23</span></a></li>
								<li><a href="category.html">Birds <span>113</span></a></li>
								<li><a href="category.html">Others <span>43</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
						<div class="category-block">

							<div class="header">
								<i class="fa fa-laptop icon-bg-8"></i>
								<h4>Services</h4>
							</div>
							<ul class="category-list">
								<li><a href="category.html">Cleaning <span>93</span></a></li>
								<li><a href="category.html">Car Washing <span>233</span></a></li>
								<li><a href="category.html">Clothing <span>183</span></a></li>
								<li><a href="category.html">Business <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->


				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<h3 class="ft-bold mb-1 " style="text-align:center; font-weight: bold;">Engagez les meilleurs <span class="theme-cl">Préstataires</span></h3>

<section class="bg-light middle">
    <div class="container">
    
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="row align-items-center justify-content-between mx-0 bg-white rounded py-2 mb-4">

                    

                </div>
            </div>
        </div>
        
        <!-- row -->
        <div class="row align-items-center">
        
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="job_grid border rounded ">
                    <div class="position-absolute ab-left"><button type="button" class="p-3 border circle d-flex align-items-center justify-content-center bg-white text-gray"><i class="lni lni-heart-filled position-absolute snackbar-wishlist"></i></button></div>
                    <div class="position-absolute ab-right"><span class="medium theme-cl theme-bg-light px-2 py-1 rounded">Full Time</span></div>
                    <div class="job_grid_thumb mb-3 pt-5 px-3">
                        <a href="job-detail.html" class="d-block text-center m-auto"><img src="https://via.placeholder.com/120x120" class="img-fluid" width="70" alt="" /></a>
                    </div>
                    <div class="job_grid_caption text-center pb-5 px-3">
                        <h6 class="mb-0 lh-1 ft-medium medium"><a href="employer-detail.html" class="text-muted medium">Google Inc</a></h6>
                        <h4 class="mb-0 ft-medium medium"><a href="job-detail.html" class="text-dark fs-md">UI/UX Web Designer</a></h4>
                        <div class="jbl_location"><i class="lni lni-map-marker mr-1"></i><span>San Francisco</span></div>
                    </div>
                    <div class="job_grid_footer pb-4 px-3 d-flex align-items-center justify-content-between">
                        <div class="df-1 text-muted"><i class="lni lni-wallet mr-1"></i>$50k - $80k PA.</div>
                        <div class="df-1 text-muted"><i class="lni lni-timer mr-1"></i>3 days ago</div>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="job_grid border rounded ">
                    <div class="position-absolute ab-left"><button type="button" class="p-3 border circle d-flex align-items-center justify-content-center bg-white text-gray"><i class="lni lni-heart-filled position-absolute snackbar-wishlist"></i></button></div>
                    <div class="position-absolute ab-right"><span class="medium bg-light-warning text-warning px-2 py-1 rounded">Part Time</span></div>
                    <div class="job_grid_thumb mb-3 pt-5 px-3">
                        <a href="job-detail.html" class="d-block text-center m-auto"><img src="https://via.placeholder.com/120x120" class="img-fluid" width="70" alt="" /></a>
                    </div>
                    <div class="job_grid_caption text-center pb-5 px-3">
                        <h6 class="mb-0 lh-1 ft-medium medium"><a href="employer-detail.html" class="text-muted medium">Google Inc</a></h6>
                        <h4 class="mb-0 ft-medium medium"><a href="job-detail.html" class="text-dark fs-md">UI/UX Web Designer</a></h4>
                        <div class="jbl_location"><i class="lni lni-map-marker mr-1"></i><span>San Francisco</span></div>
                    </div>
                    <div class="job_grid_footer pb-4 px-3 d-flex align-items-center justify-content-between">
                        <div class="df-1 text-muted"><i class="lni lni-wallet mr-1"></i>$50k - $80k PA.</div>
                        <div class="df-1 text-muted"><i class="lni lni-timer mr-1"></i>3 days ago</div>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="job_grid border rounded ">
                    <div class="position-absolute ab-left"><button type="button" class="p-3 border circle d-flex align-items-center justify-content-center bg-white text-gray"><i class="lni lni-heart-filled position-absolute snackbar-wishlist"></i></button></div>
                    <div class="position-absolute ab-right"><span class="medium bg-light-purple text-purple px-2 py-1 rounded">Contract</span></div>
                    <div class="job_grid_thumb mb-3 pt-5 px-3">
                        <a href="job-detail.html" class="d-block text-center m-auto"><img src="https://via.placeholder.com/120x120" class="img-fluid" width="70" alt="" /></a>
                    </div>
                    <div class="job_grid_caption text-center pb-5 px-3">
                        <h6 class="mb-0 lh-1 ft-medium medium"><a href="employer-detail.html" class="text-muted medium">Google Inc</a></h6>
                        <h4 class="mb-0 ft-medium medium"><a href="job-detail.html" class="text-dark fs-md">UI/UX Web Designer</a></h4>
                        <div class="jbl_location"><i class="lni lni-map-marker mr-1"></i><span>San Francisco</span></div>
                    </div>
                    <div class="job_grid_footer pb-4 px-3 d-flex align-items-center justify-content-between">
                        <div class="df-1 text-muted"><i class="lni lni-wallet mr-1"></i>$50k - $80k PA.</div>
                        <div class="df-1 text-muted"><i class="lni lni-timer mr-1"></i>3 days ago</div>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="job_grid border rounded ">
                    <div class="position-absolute ab-left"><button type="button" class="p-3 border circle d-flex align-items-center justify-content-center bg-white text-gray"><i class="lni lni-heart-filled position-absolute snackbar-wishlist"></i></button></div>
                    <div class="position-absolute ab-right"><span class="medium bg-light-danger text-danger px-2 py-1 rounded">Enternship</span></div>
                    <div class="job_grid_thumb mb-3 pt-5 px-3">
                        <a href="job-detail.html" class="d-block text-center m-auto"><img src="https://via.placeholder.com/120x120" class="img-fluid" width="70" alt="" /></a>
                    </div>
                    <div class="job_grid_caption text-center pb-5 px-3">
                        <h6 class="mb-0 lh-1 ft-medium medium"><a href="employer-detail.html" class="text-muted medium">Google Inc</a></h6>
                        <h4 class="mb-0 ft-medium medium"><a href="job-detail.html" class="text-dark fs-md">UI/UX Web Designer</a></h4>
                        <div class="jbl_location"><i class="lni lni-map-marker mr-1"></i><span>San Francisco</span></div>
                    </div>
                    <div class="job_grid_footer pb-4 px-3 d-flex align-items-center justify-content-between">
                        <div class="df-1 text-muted"><i class="lni lni-wallet mr-1"></i>$50k - $80k PA.</div>
                        <div class="df-1 text-muted"><i class="lni lni-timer mr-1"></i>3 days ago</div>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="job_grid border rounded ">
                    <div class="position-absolute ab-left"><button type="button" class="p-3 border circle d-flex align-items-center justify-content-center bg-white text-gray"><i class="lni lni-heart-filled position-absolute snackbar-wishlist"></i></button></div>
                    <div class="position-absolute ab-right"><span class="medium bg-light-purple text-purple px-2 py-1 rounded">Contract</span></div>
                    <div class="job_grid_thumb mb-3 pt-5 px-3">
                        <a href="job-detail.html" class="d-block text-center m-auto"><img src="https://via.placeholder.com/120x120" class="img-fluid" width="70" alt="" /></a>
                    </div>
                    <div class="job_grid_caption text-center pb-5 px-3">
                        <h6 class="mb-0 lh-1 ft-medium medium"><a href="employer-detail.html" class="text-muted medium">Google Inc</a></h6>
                        <h4 class="mb-0 ft-medium medium"><a href="job-detail.html" class="text-dark fs-md">UI/UX Web Designer</a></h4>
                        <div class="jbl_location"><i class="lni lni-map-marker mr-1"></i><span>San Francisco</span></div>
                    </div>
                    <div class="job_grid_footer pb-4 px-3 d-flex align-items-center justify-content-between">
                        <div class="df-1 text-muted"><i class="lni lni-wallet mr-1"></i>$50k - $80k PA.</div>
                        <div class="df-1 text-muted"><i class="lni lni-timer mr-1"></i>3 days ago</div>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="job_grid border rounded ">
                    <div class="position-absolute ab-left"><button type="button" class="p-3 border circle d-flex align-items-center justify-content-center bg-white text-gray"><i class="lni lni-heart-filled position-absolute snackbar-wishlist"></i></button></div>
                    <div class="position-absolute ab-right"><span class="medium theme-cl theme-bg-light px-2 py-1 rounded">Full Time</span></div>
                    <div class="job_grid_thumb mb-3 pt-5 px-3">
                        <a href="job-detail.html" class="d-block text-center m-auto"><img src="https://via.placeholder.com/120x120" class="img-fluid" width="70" alt="" /></a>
                    </div>
                    <div class="job_grid_caption text-center pb-5 px-3">
                        <h6 class="mb-0 lh-1 ft-medium medium"><a href="employer-detail.html" class="text-muted medium">Google Inc</a></h6>
                        <h4 class="mb-0 ft-medium medium"><a href="job-detail.html" class="text-dark fs-md">UI/UX Web Designer</a></h4>
                        <div class="jbl_location"><i class="lni lni-map-marker mr-1"></i><span>San Francisco</span></div>
                    </div>
                    <div class="job_grid_footer pb-4 px-3 d-flex align-items-center justify-content-between">
                        <div class="df-1 text-muted"><i class="lni lni-wallet mr-1"></i>$50k - $80k PA.</div>
                        <div class="df-1 text-muted"><i class="lni lni-timer mr-1"></i>3 days ago</div>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="job_grid border rounded ">
                    <div class="position-absolute ab-left"><button type="button" class="p-3 border circle d-flex align-items-center justify-content-center bg-white text-gray"><i class="lni lni-heart-filled position-absolute snackbar-wishlist"></i></button></div>
                    <div class="position-absolute ab-right"><span class="medium bg-light-danger text-danger px-2 py-1 rounded">Enternship</span></div>
                    <div class="job_grid_thumb mb-3 pt-5 px-3">
                        <a href="job-detail.html" class="d-block text-center m-auto"><img src="https://via.placeholder.com/120x120" class="img-fluid" width="70" alt="" /></a>
                    </div>
                    <div class="job_grid_caption text-center pb-5 px-3">
                        <h6 class="mb-0 lh-1 ft-medium medium"><a href="employer-detail.html" class="text-muted medium">Google Inc</a></h6>
                        <h4 class="mb-0 ft-medium medium"><a href="job-detail.html" class="text-dark fs-md">UI/UX Web Designer</a></h4>
                        <div class="jbl_location"><i class="lni lni-map-marker mr-1"></i><span>San Francisco</span></div>
                    </div>
                    <div class="job_grid_footer pb-4 px-3 d-flex align-items-center justify-content-between">
                        <div class="df-1 text-muted"><i class="lni lni-wallet mr-1"></i>$50k - $80k PA.</div>
                        <div class="df-1 text-muted"><i class="lni lni-timer mr-1"></i>3 days ago</div>
                    </div>
                </div>
            </div>
            
            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="job_grid border rounded ">
                    <div class="position-absolute ab-left"><button type="button" class="p-3 border circle d-flex align-items-center justify-content-center bg-white text-gray"><i class="lni lni-heart-filled position-absolute snackbar-wishlist"></i></button></div>
                    <div class="position-absolute ab-right"><span class="medium bg-light-warning text-warning px-2 py-1 rounded">Part Time</span></div>
                    <div class="job_grid_thumb mb-3 pt-5 px-3">
                        <a href="job-detail.html" class="d-block text-center m-auto"><img src="https://via.placeholder.com/120x120" class="img-fluid" width="70" alt="" /></a>
                    </div>
                    <div class="job_grid_caption text-center pb-5 px-3">
                        <h6 class="mb-0 lh-1 ft-medium medium"><a href="employer-detail.html" class="text-muted medium">Google Inc</a></h6>
                        <h4 class="mb-0 ft-medium medium"><a href="job-detail.html" class="text-dark fs-md">UI/UX Web Designer</a></h4>
                        <div class="jbl_location"><i class="lni lni-map-marker mr-1"></i><span>San Francisco</span></div>
                    </div>
                    <div class="job_grid_footer pb-4 px-3 d-flex align-items-center justify-content-between">
                        <div class="df-1 text-muted"><i class="lni lni-wallet mr-1"></i>$50k - $80k PA.</div>
                        <div class="df-1 text-muted"><i class="lni lni-timer mr-1"></i>3 days ago</div>
                    </div>
                </div>
            </div>
            
           
            
        </div>
        <!-- row -->

        
    </div>
</section>