<div class="home-banner margin-bottom-0 intro-bg">
    <div class="container">

        <div class="row align-items-center justify-content-between">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                <div class="banner_caption text-left mb-4">
                    <div class="d-block mb-2"><span class="px-3 py-1 medium theme-bg-light theme-cl rounded">Les
                            meuileurs services</span></div>
                    <h1 class="banner_title ft-bold mb-1">Le service qu'il vous faut,<br>en une minute chrono!</h1>
                    <p class="fs-md ft-regular">Retrouvez plus de 20.000 prestataires de service</p>
                </div>
                <form class="bg-white rounded p-1">
                    <div class="row no-gutters">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                            <div class="form-group mb-0 position-relative">
                                <input type="text" class="form-control lg left-ico"
                                    placeholder="Rechercher sur Ijeni" />
                                <i class="bnc-ico lni lni-search-alt"></i>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="form-group mb-0 position-relative">
                                <select class="custom-select lg b-0">
                                    <option  value="">Choisir une catégorie</option>
                                    <option *ngFor="let parent of Parents" value="parent.name">{{parent.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 col-12">
                            <div class="form-group mb-0 position-relative">
                                <button class="btn full-width custom-height-lg theme-bg text-white fs-md"
                                    type="button">Yalla</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="bnr_thumb position-relative">
                    <img src="assets/img/bn-2.png" class="img-fluid bnr_img" alt="" />
                    <div class="list_crs_img">
                        <img src="assets/img/img-1.png" class="img-fluid elsio cirl animate-fl-y" alt="">
                        <img src="assets/img/img-3.png" class="img-fluid elsio arrow animate-fl-x" alt="">
                        <img src="assets/img/img-2.png" class="img-fluid elsio moon animate-fl-x" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================= Home Banner ======================== -->

<!-- ================================ Tag Award ================================ -->
<section class="p-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="crp_box fl_color ovr_top">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 de"><i class="fa fa-journal-whills"></i></div>
                                <div class="dro_142">
                                    <h6>21 0000</h6>
                                    <p>Plus de 21 prestata res de service partout en Tunisie</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 de"><i class="fa fa-business-time"></i></div>
                                <div class="dro_142">
                                    <h6>73 000 Clients</h6>
                                    <p>Plus de 73000 heureux partout en Tunisie</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 de"><i class="fa fa-user-shield"></i></div>
                                <div class="dro_142">
                                    <h6>43 000 services livré</h6>
                                    <p>Services livré a nos cliens en toute simplicité</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <h2>All Categories</h2>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p> -->
                </div>
                <div class="row">
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6" *ngFor="let category of Parents">
                        <app-category-card [category]="category"></app-category-card>

                    </div>
                    <!-- Category list -->


                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<h3 class="ft-bold mb-1 " style="text-align:center; font-weight: bold;">Engagez les meilleurs <span
        class="theme-cl">Préstataires</span></h3>

<section class="bg-light middle">
    <div class="container">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="row align-items-center justify-content-between mx-0 bg-white rounded py-2 mb-4">



                </div>
            </div>
        </div>

        <!-- row -->
        <div class="row align-items-center">

            <!-- Single -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <app-persta-card></app-persta-card>
            </div>
        </div>
        <!-- row -->


    </div>
</section>

<section class="space min">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="sec_title position-relative text-center mb-4">
                    <h6 class="text-muted mb-0">Top du moment</h6>
                    <h2 class="ft-bold">Dernieres promo !</h2>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <app-persta-card></app-persta-card>
        </div>

        
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_2 pr-3 py-4">
                    <div class="content-box">
                        <div class="sec-title light">
                            <p class="theme-cl px-3 py-1 rounded bg-light-success d-inline-flex">Download apps</p>
                            <h2 class="ft-bold">Get the Workplex Job<br>Search App</h2>
                        </div>
                        <div class="text">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto accusantium.</p>
                        </div>
                        <div class="btn-box clearfix mt-5">
                            <a href="index.html" class="download-btn play-store mb-1 d-inline-flex"><img src="assets/img/ios.png" width="200" alt="download AppStore" /></a>
                            <a href="index.html" class="download-btn play-store ml-2 mb-1 d-inline-flex"><img src="assets/img/and.png" width="200" alt="download Playstore" /></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box">
                    <figure class="image"><img src="assets/img/app.png" class="img-fluid" alt="Download app"></figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="space">
    <div class="container">
        
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="m-spaced">
                    <div class="position-relative">
                        <div class="mb-1"><span class="theme-bg-light theme-cl px-2 py-1 rounded">About Us</span></div>
                        <h2 class="ft-bold mb-3">Devenez prestataire</h2>
                        <p class="mb-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <p class="mb-4">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
                    </div>
                    <div class="position-relative row">
                        <div class="col-lg-4 col-md-4 col-4">
                            <h3 class="ft-bold theme-cl mb-0">10k+</h3>
                            <p class="ft-medium">Active Jobs</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-4">
                            <h3 class="ft-bold theme-cl mb-0">12k+</h3>
                            <p class="ft-medium">Resumes</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-4">
                            <h3 class="ft-bold theme-cl mb-0">07k+</h3>
                            <p class="ft-medium">Employers</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 mt-3">
                            <a href="javascript:void(0);" class="btn btn-md theme-bg-light rounded theme-cl hover-theme">See Details<i class="lni lni-arrow-right-circle ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <div class="position-relative">
                    <img src="assets/img/bn-5.png" class="img-fluid" alt="Prestataire" />
                </div>
            </div>
        </div>
        
    </div>
</section>

