			<!-- ======================= Top Breadcrubms ======================== -->
			<div class="bg-title py-5" data-overlay="0">
				<div class="ht-30"></div>
				<div class="container">
					<div class="row">
						<div class="colxl-12 col-lg-12 col-md-12">
							<h1 class="ft-medium">Browse Resumes</h1>
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a  class="text-light">Home</a></li>
									<li class="breadcrumb-item"><a  class="text-light">Job</a></li>
									<li class="breadcrumb-item active theme-cl" aria-current="page">Browse Candidates</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
				<div class="ht-30"></div>
			</div>
			<!-- ======================= Top Breadcrubms ======================== -->
			
			<!-- ============================ Main Section Start ================================== -->
			<section class="bg-light">
				<div class="container">
					<div class="row">
						

						
						<!-- Item Wrap Start -->
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="row">
								<div [ngClass]="{'col-lg-3': grid, 'col-lg-12': !grid }"  class="col-xl-12 col-lg-12 col-md-12 col-12" >
									<div class="row align-items-center justify-content-between mx-0 bg-white rounded py-2 mb-4">
										<div class="col-xl-3 col-lg-4 col-md-5 col-sm-12">
											<h6 class="mb-0 ft-medium fs-sm">{{promos.length}} Promos disponibles</h6>
										</div>
										
										<div class="col-xl-9 col-lg-8 col-md-7 col-sm-12">
											<div class="filter_wraps elspo_wrap d-flex align-items-center justify-content-end">
												<div class="single_fitres">
													<a [ngClass]="{'activated': grid, 'desactivated': !grid}" class="simple-button active theme-cl mr-1" (click)="change(true)"><i class="ti-layout-grid2"></i></a>
													<a [ngClass]="{'activated': !grid, 'desactivated': grid}" class="simple-button" (click)="change(false)"><i class="ti-view-list"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<!-- row -->
							<div class="row align-items-center">		
								<!-- Single -->
                                <div [ngClass]="{'col-lg-3': grid, 'col-lg-12': !grid }" class="offset-lg-0 col-md-5 offset-md-1 col-sm-6" *ngFor="let promo of promos">
                                    <app-promo-card [promo]="promo" ></app-promo-card>
            
                                </div>

							</div>

						</div>
						
					</div>
				</div>
			</section>