.cat_circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cat_circle img {
    width: 80%;
    height: auto;
  }
  .category-block{
    height:400px
  }