<footer class="dark-footer skin-dark-footer style-2">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="footer_widget">
                        <img src="assets/logo/Logo_ijeni_horizontal_white.svg" class="img-footer small mb-2" alt="Logo Ijeni" />
                        
                        <div class="address mt-2">
                            8, rue Sarajevo- Ennasr 1- 2037 Ariana
                        </div>
                        <div class="address mt-3">
                            53 607 506<br>hello@ijeni.tn
                        </div>
                        <div class="address mt-2">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="https://www.facebook.com/Ijeni.tn" alt="facebook ijeni.tn" target="_blank"  class="theme-cl"><i class="lni lni-facebook-filled"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.youtube.com/channel/UC5G0lRYnXWgulBsQNe4Jjcw" target="_blank"  alt="youtube ijeni.tn" class="theme-cl"><i class="lni lni-youtube"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/ijeni_tn/" alt="instagram ijeni.tn" target="_blank"  class="theme-cl"><i class="lni lni-instagram-filled"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.linkedin.com/company/ijeni/" alt="linkedin ijeni.tn" target="_blank"  class="theme-cl"><i class="lni lni-linkedin-original"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    <div class="footer_widget">
                        <h4 class="widget_title">Pour les Prestataires</h4>
                        <ul class="footer-menu">
                            <li><a alt="Explorer les candidats">Explorer les candidats</a></li>
                            <li><a  alt="Tarification des travaux">Tarification des travaux</a></li>
                            <li><a alt="Soumettre le travail">Soumettre le travail</a></li>
                            <li><a alt="Présélectionné">Présélectionné</a></li>
                            <li><a alt="Tableau de bord" >Tableau de bord</a></li>
                        </ul>
                    </div>
                </div>
                        
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    <div class="footer_widget">
                        <h4 class="widget_title">Pour Les Particulier</h4>
                        <ul class="footer-menu">
                            <li><a alt="Explorer tous les emplois" >Explorer tous les emplois</a></li>
                            <li><a alt="Parcourir les catégories">Parcourir les catégories</a></li>
                            <li><a alt="Emplois enregistrés">Emplois enregistrés</a></li>
                            <li><a alt="Tableau de bord">Tableau de bord</a></li>
                        </ul>
                    </div>
                </div>
        
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    <div class="footer_widget">
                        <h4 class="widget_title">A Propos De Ijeni</h4>
                        <ul class="footer-menu">
                            <li><a alt="Qui sommes-nous ?">Qui sommes-nous?</a></li>
                            <li><a alt="Notre mission">Notre mission</a></li>
                            <li><a alt="Notre équipe">Notre équipe</a></li>
                            <li><a alt="Paquets">Paquets</a></li>
                            <li><a alt="Tableau de bord">Tableau de bord</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    <div class="footer_widget">
                        <h4 class="widget_title">Sujets Utiles</h4>
                        <ul class="footer-menu">
                            <li><a alt="Plan du site">Plan du site</a></li>
                            <li><a alt="Sécurité">Sécurité</a></li>
                            <li><a alt="Contact">Contact</a></li>
                            <li><a alt="FAQ">FAQ</a></li>
                            <li><a alt="Intimité">Intimité</a></li>
                        </ul>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
    
    <div class="footer-bottom br-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 text-center">
                    <p class="mb-0">© 2022 Ijeni. Conçu par Ntech. <a alt="ijeni.tn" href="https://ijeni.tn">Ijeni</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>