<div class="category-block flex" >
    <div class="header">
        <img src="{{category.iconURI}}" alt="{{category.name}}" style="width:60px;height:60px;">
<!--         <span class="cat_circle icon-bg-1" style="margin-left:auto; margin-right:auto; vertical-align:middle;">
            
        </span> -->
        <h4>{{category?.name}}</h4>
    </div>
        <!--     <ul class="category-list" *ngFor="let child of children">
        <li><a [routerLink]="['/prestataire']" [queryParams]="{ categoryId: child.id}">{{child.name}} </a></li>
        </ul> -->
</div>